.tag-btn {
  color: #ffffff;
  border: 1px solid #f3aa4e;
  border-radius: 18px;
  background: transparent;
  padding: 15px;
  margin-right: 15px;
  font-size: 18px;
  cursor: pointer;
}
.active-tag {
  background-color: #f3aa4e;
}
